<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/socket.io/socket.io.js">
            const socket = io()
            socket.on("message", (msg) => {
                console.log("meessage from the client")
            })
      document.getElementById('send-btn').addEventListener('click', () => {
          const messageInput = document.getElementById('message-input');
          const message = messageInput.value;
          socket.emit('message', message);
          messageInput.value = '';
      });
    </script>
    <title>chat</title>
  </head>
  <body></body>
</html>
